*{
    text-align: center;
    align-items: center;
    align-self: center;
    justify-content: center;
}

button{
    background-color: black;
    color:aliceblue;
    border: none;
    border-radius: 12px;
    width: 100px;
    height: 40px;
}

